<!-- AUTHOR: SEONGTAEK LIM (seongtaek.lim0730@gmail.com) -->

{% extends "main_base.html" %}
{% block bb_index %}

<!-- Header -->
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="bb-top" class="intro-message">
          <h1>BikeBit</h1>
          <h3>Low-Cost Tracker for Bike Commuters</h3>
          <h4>Check Your Cycling Distance &amp; Speed!</h4>
          <!-- <hr class="intro-divider"> -->
          <!-- <ul class="list-inline intro-social-buttons"> -->
            <!-- <li> -->
              <form id="uploadForm" enctype="multipart/form-data" action="/upload" method="post">

                <div class="col-lg-offset-3 col-md-4 col-lg-4">
                  <input id="diameterInput" name="diameterArg" type="text" placeholder="Tell me the diameter of your bike wheel." class="form-control input-md" maxlength="5" /><br />
                </div>
                <div class="col-md-2 col-lg-2">
                  <select id="unitSelect" name="unitArg" class="form-control input-md">
                    <option value="inch">Inches</option>
                    <option value="cm">Centimeters</option>
                  </select>
                </div>

                <div id="uploadFileDiv" class="col-lg-offset-3 col-md-6 col-lg-6 btn btn-default btn-lg fileinput-button disabled">
                  <i class="fa fa-cloud-upload"></i>
                  <span class="network-name">&emsp;Upload Your BikeBit.dat</span>
                  <input id="uploadFile" name="fileArg" type="file" accept=".dat" />
                </div>
                <div class="col-lg-offset-3 col-md-6 col-lg-6">
                  <h4>Download sample data <a href="#" download>here</a> and upload it to try BikeBit!<h4>
                </div>
              </form>
            <!-- </li> -->
          <!-- </ul> -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->

<!-- Page Content -->
<div id="bb-about" class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">About BikeBit</h2>
        <p class="lead">BikeBit is a low-cost tracker to measure your cycling experience. For urban commuters, especially in metropolitan areas, commuting by bike is still an attractive option because air pollution, heavy traffic, and health are closely linked to their quality of lives.</p>
        <p class="lead">BikeBit collects data from your cycling experience to show you instantaneous velocity, average velocity, and distance travelled. You can review your record to pick up the exercise habit and plan better routes to your work.</p>
        <p class="lead">BikeBit doesn't require costly resources including smartphones, mobile networks, and GPS. All you need to do is just mount this low-cost BikeBit tracker on his bike.</p>
        <p class="lead">Open source projects and technologies used for BikeBit are <a href="http://www.arduino.cc/">Arduino</a>, <a href="http://www.tornadoweb.org/en/stable/">Tornado</a> (<a href="https://www.python.org/">Python</a>), <a href="http://c3js.org/">C3</a> (JavaScript), and 3D printing.</p>
        <p class="lead">This project was submitted to <a href="http://commuter.challengepost.com/">Urban Commuter Challenge</a> in December 2014.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <!-- <img class="img-responsive" src="img/ipad.png" alt=""> -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div id="bb-instructions" class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">How It Works</h2>
        <p class="lead">BikeBit consists of two parts: bike-attachable tracker (hardware) and web analytics UI (software).</p>
        <p class="lead">The tracker is mounted on the frame of a bike. A piece of neodymium magnet, which is an independent part of the tracker, is attached on the wheel. A <a href="http://en.wikipedia.org/wiki/Hall_effect_sensor">hall effect sensor</a> in the tracker senses the magnetic field to count the wheel's rotation. The tracker keeps the timestamps in its memory (SD card).</p>
        <p class="lead">You can eject the memory card and upload the data to review your BikeBit record. The visualization tool shows your recent cycling experience in terms of velocity and distance. Download sample data <a href="" download>here</a> and upload it to try BikeBit!</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <!-- <img class="img-responsive" src="img/dog.png" alt=""> -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div id="bb-contact" class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Contact Me:</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="mailto:seongtaek.lim0730@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-send"></i><span class="network-name">&emsp;E-Mail</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.banner -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="index#bb-top">Top</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="index#bb-about">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="index#bb-instructions">Instructions</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="index#bb-contact">Contact</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; Seongtaek Lim 2014. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>

<script src="{{ static_url('js/index.js') }}"></script>

{% end %}
